.wrap {
    width: 50%;
    margin: 0;
}

.container {
    margin-top: 10px;
}

.add-btn {
    cursor: pointer;
}

.description {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.text-task {
    margin: 0;
    align-items: center;
    cursor: pointer;
}

.remove-text {
    display: none;
}
